<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <div style="
                position: absolute;
                top: 10%;
                left:40%;
                transform: translateY(-50%);
">
        <h1>Hello {{username}}</h1>
    <a href="/user/register/view">Register</a>
    <a href="/user/login/view">Login</a>
    <a href="/weibo/index">Weibo</a>

    </div>
    <div style="
                position: absolute;
                top: 60%;
                left:30%;
                transform: translateY(-50%);
">
 <img src="/static?file=20190709065902.gif"/>
         </div>
</body>
</html>